@model IQueryable<DatabaseEntities.Utilizator>
@{
    ViewBag.Title = "Grid";
}
@using GridMvc.Html

<h2>Utilizatori</h2>

<div>
     <body ng-controller="MyCtrl">
        <div class="gridStyle" ng-grid="gridOptions">
           <button ng-click="SaveChanges()">Salveaza modificarile</button>
        </div>
    </body>
</div>


