<script type="text/javascript" src="~/Scripts/jquery.md5.js"></script>
<div ng-controller="Home" class="bodyDiv"  >
    <div  style="float: right; position: relative; top: -40px;z-index:2" >
        
        <label class="label label-success" ng-show="userAuthenticated"><span class="glyphicon glyphicon-user"></span>  Welcome <span style="color:black;font-style:italic">{{utilizator.Username}}</span></label>
        <button type="button" class="btn btn-danger btn-xs" ng-click="Logout()" ng-show="userAuthenticated" style="float:right">Logout</button>
        <div id="login" class="dropdown" ng-show="!userAuthenticated">
            <button type="button" class="dropdown-toggle btn btn-default btn-sm" data-toggle="dropdown"><span class="glyphicon glyphicon-globe"></span>Sign in<b class="caret"></b></button>
            <ul class="dropdown-menu" style="padding: 15px; min-width: 250px; left:-166px">
                <li>
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form" role="form" accept-charset="UTF-8" id="login-nav">
                                <div class="form-group">
                                    <label>Username</label>
                                    <input type="text" class="form-control" ng-model="utilizator.Username" placeholder="Username" required>
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control" ng-model="utilizator.Password"  placeholder="Password" required>
                                </div>
                                <div class="form-group">
                                    <button ng-click="Login()" class="btn btn-success btn-block">Sign in</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div id="register" class="dropdown" ng-show="!userAuthenticated">
            <button type="button" class="dropdown-toggle btn btn-default btn-sm" data-toggle="dropdown"><span class="glyphicon glyphicon-asterisk"></span>Register<b class="caret"></b></button>
            <ul class="dropdown-menu" style="padding: 15px; min-width: 350px;left:-260px !important">
                <li>
                    <div class="row">
                        <div class="col-md-12">
                            <form id="registerForm" class="form" role="form" accept-charset="UTF-8">
                                <div class="form-group">
                                    <label>Username</label>
                                    <input type="text" class="form-control" ng-model="utilizator.Username" placeholder="Username" required>
                                </div>
                                <div class="form-group">
                                    <label>First name</label>
                                    <input type="text" class="form-control" ng-model="utilizator.FirstName" placeholder="First name" required>
                                </div>
                                <div class="form-group">
                                    <label>Last name</label>
                                    <input type="text" class="form-control" ng-model="utilizator.LastName" placeholder="Last name" required>
                                </div>
                                 <div class="form-group">
                                    <label>Birth date</label>
                                    <input type="date" class="form-control" ng-model="utilizator.BirthDate" placeholder="Birth date" required>
                                </div>
                                <div class="form-group">
                                    <label>Email address</label>
                                    <input type="email" class="form-control" ng-model="utilizator.Email" placeholder="Email address" required>
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control" ng-model="utilizator.Password" placeholder="Password" required>
                                </div>
                                <div class="form-group">
                                    <button ng-click="Register()" class="btn btn-success btn-block">Register</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
</div>
<ul class="nav nav-tabs nav-custom">
    <li><a href="#home" data-toggle="tab"><span class="glyphicon glyphicon-home"></span>Home</a></li>
    <li><a href="#Photos" data-toggle="tab"><span class="glyphicon glyphicon-picture"></span>Photos</a></li>
    <li><a href="#Videos" data-toggle="tab"><span class="glyphicon glyphicon-facetime-video"></span>Videos</a></li>
    <li><a href="#Documents" data-toggle="tab"><span class="glyphicon glyphicon-book"></span>Documents</a></li>
    <li><a href="#Other Files" data-toggle="tab"><span class="glyphicon glyphicon-file"></span>Other files</a></li>
    <li><a href="#Profile" data-toggle="tab"><span class="glyphicon glyphicon-cog"></span>Profile</a></li>
</ul>
<div class="tab-content">
    <div ng-view></div>
</div>
</div>
