<div ng-controller="videosController">
    <div>
        <img src="../Content/Icons/photoHeader.png" style="width:90%;margin-left:5%;margin-right:5%; height:100px; position:relative;top:-40px; opacity:0.6;" />
    </div>
    <div>
        <img src="../Content/Icons/up_icon.png" ng-show="currentFolder != 'root'" style="height: 40px; width: 40px; cursor: pointer" ng-click="upFolder()" />
        <button class="btn btn-primary btn-default" data-toggle="modal" data-target="#myModal">
            Upload photos
        </button>
        <button class="btn btn-primary btn-default" data-toggle="modal" data-target="#createFolder" ng-show="currentFolder=='root'">
            Create Folder
        </button>
        <img src="../Content/Icons/refresh_icon.jpg" style="height: 30px; width: 30px; cursor: pointer" ng-click="refresh()" />
    </div>
    <hr />
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Upload photos</h4>
                </div>
                <div class="modal-body">
                    <div class="ng-v">
                        <div class="upload-div">
                            Choose a single file:
                            <input type="file" ng-file-select="onFileSelect($files)" ng-click="resetInputFile()">
                            <br />
                            or multiple files: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="file" ng-file-select="onFileSelect($files)" multiple ng-click="resetInputFile()">
                            <br />
                            <br />
                            <div ng-show="dropSupported" class="drop-box" ng-file-drop="onFileSelect($files);" ng-file-drop-available="dropSupported=true">or drop files here</div>
                            <div ng-show="!dropSupported">HTML5 Drop File is not supported on this browser</div>
                            <br />
                            <div class="err" ng-show="errorMsg != null">{{errorMsg}}</div>
                            <br />
                            Progress:
                            <br />
                            <br />
                            <div ng-show="selectedFiles != null">
                                <div class="sel-file" ng-repeat="f in selectedFiles">
                                    <label>{{($index + 1) + '.'}}</label>
                                    <!--<img ng-show="dataUrls[$index]" ng-src="{{dataUrls[$index]}}">-->
                                    <!--<button class="button" ng-click="start($index)" ng-show="progress[$index] < 0">Start</button>-->
                                    <div class="progress" ng-show="progress[$index] >= 0">
                                        <div style="width: {{progress[$index]}}%">{{progress[$index]}}%</div>
                                    </div>
                                    <button class="button" ng-click="abort($index)" ng-show="hasUploader($index) && progress[$index] < 100">Abort</button>
                                    {{f.name}} - size: {{f.size}}B - type: {{f.type}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="createFolder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="H1">Create folder</h4>
                </div>
                <div class="modal-body">
                    <label for="folderName">Folder Name:</label>
                    <input type="text" ng-model="$parent.folderName" />
                    <button type="button" class="btn btn-default" ng-click="createFolder()" data-dismiss="modal">Create</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <img ng-src="data:{{currentImage.Type}};base64,{{currentImage.ByteArray}}" style="max-height: 500px; max-width: 500px;" />
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div ng-repeat="folder in folders" class="col-xs-1">
                <a ng-click="setCurrentFolder(folder.Id)" class="thumbnail" style="cursor: pointer">
                    <img src="../Content/Icons/folder.jpg" />
                    <label style="font-size:1em">{{folder.Name}}</label>
                </a>
            </div>
        </div>
        <div class="row">
            <div ng-repeat="image in files" class="col-xs-2" data-toggle="modal" data-target="#imageModal">
                <a ng-click="setCurrentImage(image.Id)" class="thumbnail" style="cursor: pointer">
                    <img ng-src="data:{{image.Type}};base64,{{image.ByteArray}}" />
                    <label style="font-size:1em">{{image.Name}}</label>
                </a>
            </div>
        </div>
    </div>
</div>

