.gridStyle {
    border: 1px solid rgb(212,212,212);
   }

.controller {
    width:100%;
    position:absolute;
    top:170px;
}

select {
 height:28px !important;
 width:auto;
}
button {
    background-color:rgb(65, 206,98);
    font-weight:bold;
    font-size:small;
    border-radius:10px;
}
.ngCanvas button {
    background-color:rgb(255, 0, 0);
}
.detalii {
    background-color:rgb(65, 206,98) !important;
}
.bodyDetalii select {
height:30px !important;
}
.ng-valid {
    color:black !important;
}


