.bodyDiv {
margin-left: 15%;
margin-right: 15%;
background-color: #fff;
border-width: 1px !important;
border-color: #ddd !important;
border-radius: 4px 4px 0 0;
box-shadow:none;
box-sizing:border-box;
padding: 45px 15px 15px;
border:solid;
width:70%;
}