.gridStyle {
    border: 1px solid rgb(212,212,212);
    height:600px;
   }

.controller {
    position:absolute;
    top:50px;
    left:100px;
}
.centerNav {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    vertical-align:middle;
}
select {
 height:28px !important;
 width:150px;
}
button {
    background-color:rgb(65, 206, 98);
    font-weight:bold;
    font-size:small;
    border-radius:10px;
}
.ngCanvas button {
    background-color:rgb(255, 0, 0);
}
