<!DOCTYPE html>

<html ng-app ="CloudStorage">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Content/ng-grid.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/style.css" />
    <script type="text/javascript" src="~/Scripts/jquery-2.1.0.js"></script>
    <script type="text/javascript" src="~/Scripts/AngularJS/angular.js"></script>
    <script type="text/javascript" src="~/Scripts/AngularJS/ng-grid-2.0.7.js"></script>
    <script type="text/javascript" src="~/Scripts/Bootstrap/bootstrap.min.js"></script>
    <script src="~/Scripts/ui-bootstrap-tpls-0.10.0.min.js"></script>
</head>
<body>
    <div>
         @RenderBody()
    </div>
</body>
</html>
