<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Content/ng-grid.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/style.css" />
    <script type="text/javascript" src="~/Scripts/jquery-2.1.0.js"></script>
    <script type="text/javascript" src="~/Scripts/angular-file-upload-shim.js"></script> 
    <script type="text/javascript" src="~/Scripts/angular.js"></script>
    <script type="text/javascript" src="~/Scripts/angular-file-upload.js"></script> 
    <script type="text/javascript" src="~/Scripts/angular-route.js"></script>
    <script type="text/javascript" src="~/Scripts/ng-grid-2.0.7.js"></script>
    <script type="text/javascript" src="~/Scripts/AngularControllers/angularSettings.js"></script>
    <script type="text/javascript" src="~/Scripts/AngularControllers/parentUploadController.js"></script>
    <script type="text/javascript" src="~/Scripts/AngularControllers/homeController.js"></script>
    <script type="text/javascript" src="~/Scripts/AngularControllers/photosController.js"></script>
    <script type="text/javascript" src="~/Scripts/AngularControllers/videosController.js"></script>
    <script type="text/javascript" src="~/Scripts/AngularControllers/documentsController.js"></script>
    <script type="text/javascript" src="~/Scripts/AngularControllers/filesController.js"></script>
    <script type="text/javascript" src="~/Scripts/AngularControllers/profileController.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
    <link href="~/Content/video-js.css" rel="stylesheet" />
    <script src="~/Scripts/video.js"></script>
    <script>
        videojs.options.flash.swf = "~/Scripts/video-js.swf";
    </script>
</head>
<body>
    <div ng-app="CloudStorage">
         @RenderBody()
    </div>
</body>
</html>
